# Django Settings
DEBUG=True
SECRET_KEY=django-insecure-3agrwe0^e-vz4&#mne%h9l7npiqe-nh4q4y6pc4lhsd!(qfc(d

# Database (para produção usar PostgreSQL)
DATABASE_URL=sqlite:///db.sqlite3

# Mercado Pago
MERCADO_PAGO_ACCESS_TOKEN=APP_USR-3935485974287001-081911-c0eed766e1650b9cee65ebd1db655bc8-416766854
MERCADO_PAGO_PIX_KEY=9bc0e344-f2ea-4315-9012-682c949a8c21

# Email Configuration
EMAIL_HOST_USER=seu_email@gmail.com
EMAIL_HOST_PASSWORD=sua_senha_de_app_do_gmail
DEFAULT_FROM_EMAIL=noreply@maratona2025.com

# Para usar Gmail:
# 1. Ative a verificação em duas etapas
# 2. Gere uma senha de app específica
# 3. Use a senha de app no EMAIL_HOST_PASSWORD
